{% extends 'base.html' %}
{% load static %} 

{% block heroimage%}
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="display-6">Editando experiencia</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 form_registro">
                <!-- <form method="post" class="form_registro_user" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Guardar cambios</button>
                </form> -->
                <form method='POST' class="form_registro_user" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="{{ form.nombre_proyecto.id_for_label }}">Nombre del Proyecto:</label>
                                {{ form.nombre_proyecto }}
                            </div>
                            <div class="col-lg-6">
                                <label for="{{ form.fecha_inicio.id_for_label }}">Fecha de Inicio:</label>
                                {{ form.fecha_inicio }}
                            </div>
                            <div class="col-lg-6">
                                <label for="{{ form.fecha_fin.id_for_label }}">Fecha de Finalización:</label>
                                {{ form.fecha_fin }}
                            </div>
                            <div class="col-lg-12">
                                <label for="{{ form.descripcion_proyecto.id_for_label }}">Descripción del Proyecto:</label>
                                {{ form.descripcion_proyecto }}
                            </div>
                            <div class="col-lg-12">
                                <label for="{{ form.funciones.id_for_label }}">Funciones:</label>
                                {{ form.funciones }}
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group text-center">
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>
                </form>
            </div>
            
        </div>

    </div>
</section>

{% endblock %}

{% block extrajs %}

{% endblock %}

