{% extends 'base.html' %}
{% load static %} 

{% block heroimage%}
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="display-6">Todas las certificaciones</p>
            </div>
        </div>
        <div class="row">
            {% for certificacion in certificaciones %}

            <div class="col-lg-12 d-flex justify-content-between">
                <div>
                    <p>{{ certificacion.nombre_certificacion }} - {{ certificacion.fecha_obtencion }} </p>
                </div>
                <div>
                    <a href="{% url 'editar_certificacion' certificacion.id %}" class="icon-circle">
                        <i class="bi bi-pen"></i>
                    </a>
                    <a href="#" class="icon-circle-delete" data-bs-toggle="modal" data-bs-target="">
                        <i class="bi bi-trash3"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>

{% endblock %}

{% block extrajs %}

{% endblock %}



