{% extends 'base.html' %}
{% load static %} 

{% block heroimage%}
{% endblock %}

{% block content %}
    <section class="perfil">
        <div class="container">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if perfil.foto_perfil %}
                            <img src="{{ perfil.foto_perfil.url }}" class="img-fluid rounded-start" alt="Foto de perfil">
                        {% else %}
                            <!-- Puedes poner una imagen por defecto aquí si lo deseas -->
                            <img src="https://cdn.icon-icons.com/icons2/2468/PNG/512/user_icon_149329.png" class="img-fluid rounded-start" alt="Imagen por defecto">
                        {% endif %}                         
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                        <h5 class="card-title display-1">{{ perfil.nombre }} {{perfil.apellido}}</h5>
                        <p class="card-text lead"><i class="bi bi-envelope"></i> {{ perfil.email }}</p>
                        <p class="card-text lead"><i class="bi bi-building"></i> {{ perfil.nombre_empresa }}</p>
                        <p class="card-text lead"><i class="bi bi-person-vcard"></i> {{ perfil.tipo_usuario}} </p>
                        </div>
                    </div>
                    <div class="col-md-1 editar_perfil">
                        <a href="#" class="icon-circle" data-bs-toggle="modal" data-bs-target="#editarPerfilModal">
                            <i class="bi bi-pen"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editarPerfilModal" tabindex="-1" aria-labelledby="editarPerfilModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editarPerfilModalLabel">Editar Perfil</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body form_registro">
                            <form method="post" enctype="multipart/form-data" class="registro_usuario">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row_experiencias">
                <div class="col-lg-12 d-flex justify-content-between">
                    <p class="display-6">Experiencia</p>
                    <div>
                        <a href="#" class="icon-circle" data-bs-toggle="modal" data-bs-target="#modalAgregarExperiencia">
                            <i class="bi bi-plus-circle"></i>
                        </a>
                        <a href="#" class="icon-circle" data-bs-toggle="modal" data-bs-target="">
                            <i class="bi bi-pen"></i>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="col-lg-12">
                    {% for experiencia in experiencias %}
                        <p>{{ experiencia.nombre_proyecto }} - {{ experiencia.fecha_inicio }} a {{ experiencia.fecha_fin }}</p>
                        <p>{{ experiencia.descripcion_proyecto }}</p>

                    {% empty %}
                        <p>No hay experiencias registradas.</p>
                    {% endfor %}
                </div>
            </div>
            <div class="row row_certificaciones">
                <div class="col-lg-12 d-flex justify-content-between">
                    <p class="display-6">Certificaciones</p>
                    <div>
                        <a href="#" class="icon-circle" data-bs-toggle="modal" data-bs-target="#modalAgregarCertificacion">
                            <i class="bi bi-plus-circle"></i>
                        </a>
                        <a href="#" class="icon-circle" data-bs-toggle="modal" data-bs-target="">
                            <i class="bi bi-pen"></i>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="col-lg-12">
                    {% for certificacion in certificaciones %}
                        <p>{{ certificacion.nombre_certificacion }} - {{ certificacion.fecha_obtencion }}</p>
                    {% empty %}
                        <p>No hay certificaciones registradas.</p>
                    {% endfor %}
                </div>
            </div>
            <!-- Modal para agregar experiencia -->
            <div class="modal fade" id="modalAgregarExperiencia" tabindex="-1" aria-labelledby="modalAgregarExperienciaLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalAgregarExperienciaLabel">Agregar Experiencia</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body form_registro">
                            <form method="post">
                                {% csrf_token %}
                                {{ form_experiencia.as_p }}
                                <button type="submit">Agregar Experiencia</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal para agregar certificación -->
            <div class="modal fade" id="modalAgregarCertificacion" tabindex="-1" aria-labelledby="modalAgregarCertificacionLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalAgregarCertificacionLabel">Agregar Certificación</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body form_registro">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form_certificacion.as_p }}
                                <button type="submit">Agregar Certificación</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extrajs %}

{% endblock %}