.navbar {
  background-color: #0D6073; /* Color semitransparente de fondo */
  height: 80px;
  color: #fff;
}

.navbar-scroll-hide {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
}

.navbar li a:hover {
  color: #949494;
  text-decoration: underline;
  text-underline-position: under;
}

.blanco{
  color: #fff;
}

nav .offcanvas-body, .offcanvas-header{
  background-color: #0D6073;
  color: #ffffff; 
}

nav .container button {
  color: #fff;
}

#hero{
  background-image: url('../img/header.jpg'); 
  background-size: cover; 
  background-color: rgba(106, 141, 163, 0.9);
  background-blend-mode: multiply;
  /* filter: blur(0.px); */
  position: relative;
  width: 100%;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}


.hero-image h2 {
  margin: 0;
  /* font-size: 16vh; */
  position: relative;
  z-index: 1;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

.hero-image p {
  /* font-size: 3vh; */
  position: relative;
  z-index: 1;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

section{
  height: 100%;
  padding: 10vh 0;
}

.acerca_de{
  padding: 10vh 0;
  background: linear-gradient(to top, #f9f6f3 0%, rgba(249, 246, 243, 0) 100%);
}

.acerca_de .row p{
  text-align: center;
}

.acerca_de .caracteristicas{
  padding: 5% 0;
}

.acerca_de .caracteristicas .lead{
  padding: 0 5%;
}


#proyectos_home{
  display: flex;
  align-items: stretch;
}

#carrusel_proyectos_home{
  margin: 5vh 0;
}

/* -----------------------------LINEA DE TIEMPO VERTICAL DE COLOR */
#linea_tiempo{
  background: linear-gradient(to bottom, #f9f6f3 0%, rgba(249, 246, 243, 0) 100%);
  padding: 0;
}

.main-timeline{
  position: relative;
}

.main-timeline:after{
  content: '';
  display: block;
  clear: both;
}
.main-timeline:before{
  content: '';
  height: 80%;
  width: 2px;
  border: 2px dashed #a3a3ad;
  transform: translateX(-50%);
  position:absolute;
  left: 50%;
  top: 30px;
}
.main-timeline .timeline{
  width: 50%;
  padding: 0 35px 0 27px;
  margin: 0 10px 20px 0;
  float: left;
}
.main-timeline .timeline-content{
  background: #ffff; 
  text-align: center;
  padding: 15px 115px 15px 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px -5px rgba(0,0,0,0.6);
  display: block;
  position: relative;
  text-decoration: none; 
}
.main-timeline .timeline-content:before,
.main-timeline .timeline-content:after{
  content: "";
  background: linear-gradient(to bottom,#0D6073,#51a5b8);
  width: 45px;
  height: 45px;
  transform: rotate(-45deg);
  position: absolute;
  top: 13px;
  right: -58px;
  z-index: 1;
}

/* BLOQUE DEL MEDIO DE ROMBO */
.main-timeline .timeline-content:after{
  background: #fff;
  transform:rotate(-45deg) scale(0.6);
}

.main-timeline .timeline-icon{
  color: #fff;
  background: linear-gradient(to right,#0D6073, #51a5b8);
  font-size: 23px;
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 40px;
  transform: translateY(-50%) rotate(-45deg);
  position: absolute;
  top: 50%;
  left: -20px;
}
.main-timeline .timeline-icon i{ transform: rotate(45deg); }
.main-timeline .timeline-year{
  color: #fff;
  background: linear-gradient(to bottom,#0D6073,#2a798a,#51a5b8);
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  line-height: 100px;
  height: 100%;
  width: 100px;
  border-radius: 0 0 5px 0;
  position: absolute;
  right: 0;
  top: 0;
}
.main-timeline .timeline-year:after{
  content: '';
  background: linear-gradient(to right bottom,#0D6073 50%, transparent 50%);
  height: 33px;
  width: 33px;
  position: absolute;
  right: -33px;
  top: 0;
}
.main-timeline .title{
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 7px 0;
}
.main-timeline .description{
  color: #333;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0;
}
.main-timeline .timeline:nth-child(even){
  padding: 0 27px 0 35px;
  margin: 0 0 20px 10px;
  float: right;
}
.main-timeline .timeline:nth-child(even) .timeline-content{ padding: 15px 40px 15px 115px; }
.main-timeline .timeline:nth-child(even) .timeline-content:before,
.main-timeline .timeline:nth-child(even) .timeline-content:after{
  right: auto;
  left: -58px;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
  left: auto;
  right: -20px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
  right: auto;
  left: 0;
  border-radius: 0 0 0 5px;
}
.main-timeline .timeline:nth-child(even) .timeline-year:after{
  transform: rotateY(180deg);
  right: auto;
  left: -33px;
}

@media screen and (max-width:1200px){
  .main-timeline:before{
      left: 17px;
      transform: translateX(0);
  }
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even){
      width: 100%;
      padding: 0 0 27px 40px;
      margin: 0 0 30px 0;
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(even) .timeline-content{
      padding: 70px 15px 35px 15px;
  }
  .main-timeline .timeline-content:before,
  .main-timeline .timeline-content:after,
  .main-timeline .timeline:nth-child(even) .timeline-content:before,
  .main-timeline .timeline:nth-child(even) .timeline-content:after{
      height: 25px;
      width: 25px;
      top: 10px;
      right: auto;
      left: -34px;
  }
  .main-timeline .timeline-icon,
  .main-timeline .timeline:nth-child(even) .timeline-icon{
      transform: translateY(0) translateX(50%) rotate(-45deg);
      left: auto;
      right: 50%;
      top: auto;
      bottom: -20px;
  }
  .main-timeline .timeline-year,
  .main-timeline .timeline:nth-child(even) .timeline-year{
      width: 100%;
      height: 50px;
      line-height: 50px;
      border-radius: 0 5px 5px 5px;
      right: auto;
      left: 0;
  }
  .main-timeline .timeline-year:after,
  .main-timeline .timeline:nth-child(even) .timeline-year:after{
      height: 20px;
      width: 20px;
      transform: rotateY(180deg);
      right: auto;
      left: -20px;
  }

}
@media screen and (max-width:576px){
  .main-timeline .title{ font-size: 18px; }
}

#proyectos_home{
  background: linear-gradient(to top, #f9f6f3 0%, rgba(249, 246, 243, 0) 100%);

}

.carrusel_home_grande {
  /* Estilos específicos del carrusel de la página de inicio */
  display: none; /* Ocultamos por defecto el carrusel en todas las pantallas */
}

.carrusel_home_grande .image-container {
  height: 400px;
  width: 400px;
}

.carrusel_home_grande .image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos para el otro carrusel (solo visible en pantallas pequeñas) */
.carrusel_home_peque {
  /* Estilos específicos del otro carrusel */
  display: block; /* Mostramos por defecto el otro carrusel en todas las pantallas */
}

.carrusel_home_peque .image-container{
  height: 400px;
}

.carrusel_home_peque .image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .slide {
  /* Estilos para cada slide del carrusel */
  position: relative; /* Para que podamos posicionar el texto relativo a la imagen */
}

.carousel .image-container {
  /* Estilos para el contenedor de la imagen */
  position: relative;
  overflow: hidden;
}

.carousel img{
  transition: opacity 0.3s ease;
}

.carousel .overlay {
  /* Estilos para el texto que se mostrará encima de la imagen */
  position: absolute; 
  top: 0;
  left: 0;
  background-color: rgba(13, 96, 115, 0.719);/* Fondo semitransparente para el texto */
  color: #fff; /* Color del texto */
  padding: 20px;
  opacity: 0; /* Inicialmente ocultar el texto */
  transition: opacity 0.3s ease; /* Animación de transición para mostrar el texto */
  height: 100%;
  width: 100%;
}


.carousel .slide:hover img {
  opacity: 0.7; /* Mostrar el texto cuando el mouse pasa por encima del slide */
  
}

.carousel .slide:hover .overlay {
  opacity: 1; /* Mostrar el texto cuando el mouse pasa por encima del slide */
}


/* Estilos para los elementos de texto dentro del overlay */
.carousel .overlay h2 {
  /* Estilos para el título del texto */
}

.carousel .overlay h3 {
  /* Estilos para el subtítulo del texto */
}

.carousel .overlay p {
  /* Estilos para la descripción del texto */
}

.carousel .overlay a {
  /* Estilos para el enlace */
  text-decoration: none;
  color: #000;
}


#contacto_home{
  background: linear-gradient(to bottom, #f9f6f3 0%, rgba(249, 246, 243, 0) 100%);

}

.contacto_home .row_texto{
  margin-bottom: 5vh;
}

/* Estilos para el formulario */
.contacto_home form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los campos del formulario */
.contacto_home .form-group {
  margin-bottom: 20px;
}

.contacto_home label {
  font-weight: bold;
}

.contacto_home input[type="text"],
.contacto_home input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.contacto_home input[type="text"]:focus,
.contacto_home input[type="email"]:focus {
  border-color: #0D6073;
}

/* Estilos para el botón de envío */
.contacto_home button[type="submit"] {
  background-color: #0D6073;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contacto_home button[type="submit"]:hover {
  background-color: #0A4654;
}


footer {
  padding-top: 5vh;
  background-color: #0D6073;
  color: #fff;
}

/* footer .row .col{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
} */

footer ul{
  list-style: none;
  padding: 0; 
  text-decoration: none;

}

footer li a{
  color: #fff;
  text-decoration: none;

}

footer li a:hover{
  color: #949494;
  text-decoration: underline;
  text-underline-position: under;

}

.nosotros_detalle {
  text-align: justify;
}

.nosotros_detalle .acerca_de_detalle {
  padding: 5% 0;
}

.nosotros_detalle .acerca_de_detalle .col-titulo{
  margin-bottom: 5%;
}

.nosotros_detalle .acerca_de_detalle .col-nosotros p{
  padding: 1% 3%;
}

.nosotros_detalle .mision, 
.nosotros_detalle .vision{
  margin: 8% 0;
}

.nosotros_detalle .row-valores {
  margin-bottom: 5%;
}

.nosotros_detalle .row-valores-2 {
  height: 40em;
  margin-bottom: 10%;
}


.nosotros_detalle .col-valores div {
  background-color: #fff;
  margin: 0;
  padding-bottom: 5%;
}

.nosotros_detalle .mision img, 
.nosotros_detalle .vision img,
.nosotros_detalle .valores img{
  border-radius: 10px;
  border: 2px solid #0D6073;

}

.nosotros_detalle .integrante {
  margin: 10px 2.5px;
  padding: 10px;
  height: 95%;
  display: flex;
  align-items: center;
  border: 2px solid #0D6073;
  background-color: #f9f6f3;
  border-radius: 10px;
}

.nosotros_detalle .integrante .peque {
  font-size: 2rem;
}

.nosotros_detalle .integrante .peque2 {
  font-size: 2.2rem;
}

.nosotros_detalle .integrante img {
  border-radius: 10%;
  /* background-color: #0A4654; */
  /* border: 1px solid #0D6073; */
  max-height: 300px;
  height: 100%;
}

.nosotros_detalle .integrante .redes_integrante {
  display: flex;
  justify-content: left;
  align-items: center;
  justify-items: center;
}

.nosotros_detalle .integrante .redes_integrante i{
  padding: 0 10px;
  font-size: 4vh;
  color: #0D6073;
}

.nosotros_detalle .integrante .redes_integrante i:hover{
  color: #333;
}

.proyectos_detalle .col-proyectos-titulo{
  padding: 2.5% 0;
}

.image-box {
  height: 400px;
  /* width: 400px; */
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}

/* Estilos para la imagen dentro del contenedor */
.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

/* Estilos para el texto de superposición */
.image-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(13, 96, 115, 0.719);
  color: #fff;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
  height: 100%;
  width: 100%;
}

/* Comportamiento al pasar el mouse */
.image-box:hover img {
  opacity: 0.7;
}

.image-box:hover .overlay {
  opacity: 1;
}

.contacto_detalle{
  background: linear-gradient(to bottom, #f9f6f3 0%, rgba(249, 246, 243, 0) 100%);
}

.contacto_detalle .row-detalle {
  margin: 5% 0;
}

.barra-lateral-contacto div{
  margin: 3% 0;
}

.llamanos {
  background-color: #0a46543a;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.llamanos p {
  display: flex;
  text-align: center;
  align-items: center;
}

.preguntas_precuentes_contacto {
  background-color: #0a46543a;
  padding: 7% 10%;
}

.preguntas_precuentes_contacto ul {
  list-style: none;
  padding: 0; 
  text-decoration: none;
}

.preguntas_precuentes_contacto li {
  margin-bottom: 3%;
}

.preguntas_precuentes_contacto li a{
  text-decoration: none;
  color: #0A4654;
}

.preguntas_precuentes_contacto li a:hover{
  text-decoration: underline;
  text-underline-position: under;

}

.contacto_detalle .row_texto{
  margin-bottom: 5vh;
}

/* Estilos para el formulario */
.contacto_detalle form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los campos del formulario */
.contacto_detalle .form-group {
  margin-bottom: 20px;
}

.contacto_detalle label {
  font-weight: bold;
}

.contacto_detalle input[type="text"],
.contacto_detalle input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.contacto_detalle input[type="text"]:focus,
.contacto_detalle input[type="email"]:focus {
  border-color: #0D6073;
}

/* Estilos para el botón de envío */
.contacto_detalle button[type="submit"] {
  background-color: #0D6073;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contacto_detalle button[type="submit"]:hover {
  background-color: #0A4654;
}


/* Media query para pantallas grandes (por ejemplo, más de 768px de ancho) */
@media (min-width: 1200px) {
  .carrusel_home_grande {
    display: block; /* Mostramos el carrusel de la página de inicio en pantallas grandes */
  }

  .carrusel_home_peque {
    display: none; /* Ocultamos el otro carrusel en pantallas grandes */
  }

  .timeline-steps .timeline-step:not(:last-child):after {
    content: "";
    display: block;
    border-top: .25rem dotted #0D6073;
    width: 3.46rem;
    position: absolute;
    left: 7.5rem;
    top: .3125rem
  }
  .timeline-steps .timeline-step:not(:first-child):before {
      content: "";
      display: block;
      border-top: .25rem dotted #0D6073;
      width: 3.8125rem;
      position: absolute;
      right: 7.5rem;
      top: .3125rem
  }

  
}


@media (max-width:800px){
  
  .acerca_de .caracteristicas .caracteristica{
    padding-bottom: 30px;
  }

  .nosotros_detalle .integrante{
    text-align: center;
  }
  .nosotros_detalle .integrante img{
    margin-bottom: 10px;
  }
  .nosotros_detalle .integrante .redes_integrante {
    padding-bottom: 20px;
    justify-content: center;
  }
  .nosotros_detalle .row-valores-2 {
    height: 100%;
  }
  
  

}
