<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nombre Página</title>
    <link rel="shortcut icon" href="{% static 'img/header.jpg' %}">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">



</head>
<body>
    <header>
        <nav id='navbar' class="navbar fixed-top navbar-expand-md">
            <div class="container">
                <a class="navbar-brand blanco" href="{% url 'index' %}">
                    ObraNet
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        
                    <div class="offcanvas-header">
                        <h5 id="offcanvasRightLabel">Menú</h5>
                        <button type="button" class="btn-close text-reset blanco" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">    
                        <ul class="navbar-nav ms-auto my-2">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'proyectos' %}">Proyectos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                            </li>

                            {% if user.is_authenticated %}
                            <li class="nav-item custom-dropdown">
                                <!-- Botón del dropdown -->
                                <a class="nav-link" href="#"><i class="fa-solid fa-user-tie"></i> <i class="bi bi-caret-down-fill"></i></a>
                                
                                <!-- Opciones del dropdown -->
                                <div class="custom-dropdown-content">
                                    <a href="{% url 'ver_perfil' %}">Ver perfil</a>
                                    <a href="#">Acciones</a>
                                    <a href="{% url 'logout' %}">Cerrar Sesión</a>
                                </div>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Ingresar</a>
                            </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>   
            </div>            
        </nav>

        {% block heroimage%}

        {% endblock %}


        
    </header>

    <main>

        {% block content %}
        
        {% endblock %}

    </main>

    <footer>
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-4 col-md-12 ">
                    <h4>Enlaces</h4>
                    <ul>
                        <li class="lead"><a href="{% url 'index' %}">Inicio</a></li>
                        <li class="lead"><a href="{% url 'nosotros' %}">Nosotros</a></li>
                        <li class="lead"><a href="{% url 'proyectos' %}">Proyectos</a></li>
                        <li class="lead"><a href="{% url 'contacto' %}">Contácto</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-12">
                    <h4>Pagina</h4>
                    <ul>
                        <li class="lead"><a href="#">Sobre nosotros</a></li>
                        <li class="lead"><a href="#">Términos y condiciones</a></li>
                        <li class="lead"><a href="#">Política de Privacidad</a></li>
                        <li class="lead"><a href="#">Textos Legales</a></li>
                    </ul>
                    
                </div>
                <div class="col-lg-4 col-md-12">
                    <h4>Contáctanos</h4>
                    <ul>
                        <li class="lead"><a href="#"><i class="bi bi-envelope"></i> example@gmail.com</a></li>
                        <li class="lead"><a href="#"><i class="bi bi-geo-alt"></i> Ubicación 5768, Santiago Centro - Chile</a></li>
                        <li class="lead"><a href="#"><i class="bi bi-telephone"></i>+56 9 5746 2737 </a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row g-0">
                <div class="col-md-12  text-center">
                    <p>&copy; 2023 Pagina. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
        




    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4f42d9e0a7.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    {% if messages %}
        {% for m in messages %}
        <script>
            let messageType = "{{ m.tags }}";  // Esto obtendrá el nivel del mensaje, como "success" o "error"
            let messageIcon = "info";
            let messageTitle = "Mensaje";

            if (messageType === "success") {
                messageIcon = "success";
                messageTitle = "Felicitaciones";
            } else if (messageType === "error") {
                messageIcon = "error";
                messageTitle = "Error";
            }  // Puedes agregar más condiciones para otros tipos de mensajes si lo necesitas

            Swal.fire({
                "title": messageTitle,
                "text": "{{ m }}",
                "icon": messageIcon
            })
        </script>
        {% endfor%}
    {% endif%}

    {% block extrajs %}
    {% endblock %}
   
</body>
</html>