{% extends 'base.html' %}
{% load static %} 



{% block heroimage%}

    <section id="hero">
        <div class="hero-image row g-0 ">
            <div class="col-lg-6 col-md-12 mx-auto">
                <h2 class="display-2"><b>Conectando proyectos, construyendo éxito</b></h2>
            </div>
            <div class="col-lg-8 mx-auto">
                <br>
                <p class="lead">
                    Descubre un mundo de oportunidades constructivas en un solo lugar, conectando a contratistas hábiles y apasionados con una amplia gama de proyectos de 
                    construcción
                </p>
            </div>
            <div class="col-6 mx-auto">
                <button class="btn btn-secondary">Conoce más</button>
            </div>
        </div>
    </section>

{% endblock %}


{% block content %}

    <section id="acerca_de" class="acerca_de">
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-12 d-flex align-items-center justify-content-center">
                    <h2 class="display-3">Acerca de nosotros</h2>
                </div>
                <div class="col-lg-10 d-flex align-items-center justify-content-center mx-auto">
                    <p class="lead">
                        <br><br>
                        <!-- La plataforma digital innovadora que revoluciona la forma en que las empresas de construcción y los contratistas se conectan, crean sinergias y llevan 
                        a cabo proyectos de alto impacto. Nuestro objetivo es unir a los holdings de construcción con los contratistas más talentosos, proporcionándoles una 
                        herramienta intuitiva y eficiente para encontrar oportunidades, establecer relaciones sólidas y hacer realidad sus proyectos de construcción en un entorno 
                        colaborativo y tecnológicamente avanzado. -->
                        Plataforma digital que busca revolucionar la forma en que las empresas de construcción y los contratistas se conectan y 
                        colaboran en proyectos de alto impacto. Nuestro objetivo es simplificar el proceso de encontrar oportunidades y formar equipos especializados, ahorrando 
                        tiempo y maximizando la eficiencia para nuestros usuarios. Descubre emocionantes proyectos en el nicho de la construcción, encuentra el equipo perfecto 
                        para cada desafío y acelera tu crecimiento profesional. 
                        <!-- ¡Únete a nosotros y descubre cómo la tecnología y la colaboración pueden transformar el futuro 
                        de la construcción!" -->

                    </p>
                    <br><br>
                </div>
            </div>
            <div class="row g-0 caracteristicas">
                <div class="col-lg-4 col-md-6 mx-auto caracteristica" >
                    <div class="row">
                        <div class="col-lg-12 d-flex align-items-center justify-content-center">
                            <i class="bi bi-buildings fs-1"></i>
                        </div>
                        <div class="col-lg-12 mx-auto">
                            <p class="display-6">Descubre proyectos</p>
                            <p class="lead">
                                Explora una amplia gama de proyectos publicados y encuentra aquellos que se ajusten a tus habilidades y especialidades.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mx-auto caracteristica">
                    <div class="row">
                        <div class="col-lg-12 d-flex align-items-center justify-content-center">
                            <i class="bi bi-people fs-1"></i>
                        </div>
                        <div class="col-lg-12 mx-auto">
                            <p class="display-6">Encuentra tu equipo</p>
                            <p class="lead">
                                Accede a una red de contactos especializada en la industria de la construcción y encuentra colaboradores expertos en diferentes áreas.
                            </p>
                        </div>
                    </div>               
                </div>
                <div class="col-lg-4 col-md-12 mx-auto caracteristica">
                    <div class="row">
                        <div class="col-lg-12 d-flex align-items-center justify-content-center">
                            <i class="bi bi-stopwatch fs-1"></i>
                        </div>
                        <div class="col-lg-12 mx-auto">
                            <p class="display-6">Ahorra tiempo</p>
                            <p class="lead">
                                Nuestra plataforma especializada en construcción te permite encontrar oportunidades de manera rápida y efectiva. 
                            </p>
                        </div>
                    </div>
                    
                    
                </div>
            </div><br>
            <div class="row g-0">
                <div class="col-lg-12 d-flex align-items-center justify-content-center">
                    <a href="{% url 'nosotros' %}"><button class="btn btn-secondary">Conoce más</button></a>
                </div>
            </div>
        </div>
        
    </section>
    
    <section id="linea_tiempo" class="linea_tiempo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex align-items-center justify-content-center">
                    <h2 class="display-3">Construyendo el Futuro</h2>
                </div>
               
                <div class="col-md-12">
                    <div class="main-timeline">
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa-regular fa-building"></i>
                                </div>
                                <span class="timeline-year">1</span>
                                <h3 class="title">Publicar proyecto</h3>
                                <p class="description">
                                    Comienza publicando tu proyecto de construcción. Describe todos los detalles y requisitos para que otros contratistas puedan descubrir esta oportunidad.
                                </p>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa-regular fa-file-lines"></i>
                                </div>
                                <span class="timeline-year">2</span>
                                <h3 class="title">Elaborar Presupuesto</h3>
                                <p class="description">
                                    Explora y selecciona el proyecto que más se ajuste a tus habilidades y especialidades. Elabora un presupuesto que refleje tus capacidades y tu experiencia.
                                </p>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa-regular fa-paper-plane"></i>
                                </div>
                                <span class="timeline-year">3</span>
                                <h3 class="title">Enviar Presupuesto</h3>
                                <p class="description">
                                    Envía tu presupuesto cuidadosamente elaborado al contratista que publicó el proyecto. Demuestra tu profesionalismo y competencia a través de tu propuesta.
                                </p>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa-solid fa-clipboard-check"></i>
                                </div>
                                <span class="timeline-year">4</span>
                                <h3 class="title">Aceptar Presupuesto</h3>
                                <p class="description">
                                    Se revisarán los presupuestos recibidos y se seleccionará el que mejor se ajuste. Si tu presupuesto es aceptado, estarás un paso más cerca de llevar a cabo el proyecto.
                                </p>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="timeline-icon">
                                    <i class="fa-regular fa-circle-play"></i>
                                </div>
                                <span class="timeline-year">5</span>
                                <h3 class="title">Ejecución del Proyecto</h3>
                                <p class="description">
                                    Una vez que tu presupuesto sea aceptado, prepárate para trabajar en equipo y hacer realidad el proyecto de construcción de manera colaborativa.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="proyectos_home" class="proyectos_home">

        <div class="container ">
            <div class="row g-0 ">
                <div class="col-lg-12 ">
                    <h2 class="display-3 text-center">Conoce los proyectos disponibles</h2>
                </div>
            </div>

            <div id="carrusel_home" class="carousel slide carrusel_home_grande" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" >
                        <div class="row">
                            <div class="col-md-4">
                                <figure class="slide">
                                    <div class="image-container">
                                        <img src="https://vallequintajunge.cl/wp-content/uploads/2019/03/Fachada-Suroriente-nocturna.jpg" class="img-fluid" alt="...">
                                        <div class="overlay">
                                            <h2>Título del texto</h2>
                                            <h3>Subtítulo del texto</h3>
                                            <p>Descripción del texto que se muestra cuando el mouse pasa por encima de la imagen.</p>
                                            <a href="#">Enlace</a>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-md-4">
                                <figure class="slide">
                                    <div class="image-container">
                                        <img src="https://vallequintajunge.cl/wp-content/uploads/2019/03/Fachada-Suroriente-nocturna.jpg" class="img-fluid" alt="...">
                                        <div class="overlay">
                                            <h2>Título del texto</h2>
                                            <h3>Subtítulo del texto</h3>
                                            <p>Descripción del texto que se muestra cuando el mouse pasa por encima de la imagen.</p>
                                            <a href="#">Enlace</a>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-md-4">
                                <figure class="slide">
                                    <div class="image-container">
                                        <img src="https://vallequintajunge.cl/wp-content/uploads/2019/03/Fachada-Suroriente-nocturna.jpg" class="img-fluid" alt="...">
                                        <div class="overlay">
                                            <h2>Título del texto</h2>
                                            <h3>Subtítulo del texto</h3>
                                            <p>Descripción del texto que se muestra cuando el mouse pasa por encima de la imagen.</p>
                                            <a href="#">Enlace</a>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" >
                        <div class="row">
                            <div class="col-md-4">
                                <figure class="slide">
                                    <div class="image-container">
                                        <img src="https://vallequintajunge.cl/wp-content/uploads/2019/03/Fachada-Suroriente-nocturna.jpg" class="img-fluid" alt="...">
                                        <div class="overlay">
                                            <h2>Título del texto</h2>
                                            <h3>Subtítulo del texto</h3>
                                            <p>Descripción del texto que se muestra cuando el mouse pasa por encima de la imagen.</p>
                                            <a href="#">Enlace</a>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-md-4">
                                <figure class="slide">
                                    <div class="image-container">
                                        <img src="https://vallequintajunge.cl/wp-content/uploads/2019/03/Fachada-Suroriente-nocturna.jpg" class="img-fluid" alt="...">
                                        <div class="overlay">
                                            <h2>Título del texto</h2>
                                            <h3>Subtítulo del texto</h3>
                                            <p>Descripción del texto que se muestra cuando el mouse pasa por encima de la imagen.</p>
                                            <a href="#">Enlace</a>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-md-4">
                                <figure class="slide">
                                    <div class="image-container">
                                        <img src="https://vallequintajunge.cl/wp-content/uploads/2019/03/Fachada-Suroriente-nocturna.jpg" class="img-fluid" alt="...">
                                        <div class="overlay">
                                            <h2>Título del texto</h2>
                                            <h3>Subtítulo del texto</h3>
                                            <p>Descripción del texto que se muestra cuando el mouse pasa por encima de la imagen.</p>
                                            <a href="#">Enlace</a>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>    
                <a class="carousel-control-prev" href="#carrusel_home" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carrusel_home" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>

            <div id="myCarousel" class="carousel slide carrusel_home_peque" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <figure class="slide">
                            <div class="image-container">
                                <img src="https://vallequintajunge.cl/wp-content/uploads/2019/03/Fachada-Suroriente-nocturna.jpg" class="img-fluid" alt="...">
                                <div class="overlay">
                                    <h2>Título del texto</h2>
                                    <h3>Subtítulo del texto</h3>
                                    <p>Descripción del texto que se muestra cuando el mouse pasa por encima de la imagen.</p>
                                    <a href="#">Enlace</a>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="carousel-item">
                        <figure class="slide">
                            <div class="image-container">
                                <img src="https://vallequintajunge.cl/wp-content/uploads/2019/03/Fachada-Suroriente-nocturna.jpg" class="img-fluid" alt="...">
                                <div class="overlay">
                                    <h2>Título del texto</h2>
                                    <h3>Subtítulo del texto</h3>
                                    <p>Descripción del texto que se muestra cuando el mouse pasa por encima de la imagen.</p>
                                    <a href="#">Enlace</a>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="carousel-item">
                        <figure class="slide">
                            <div class="image-container">
                                <img src="https://vallequintajunge.cl/wp-content/uploads/2019/03/Fachada-Suroriente-nocturna.jpg" class="img-fluid" alt="...">
                                <div class="overlay">
                                    <h2>Título del texto</h2>
                                    <h3>Subtítulo del texto</h3>
                                    <p>Descripción del texto que se muestra cuando el mouse pasa por encima de la imagen.</p>
                                    <a href="#">Enlace</a>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="carousel-item">
                        <figure class="slide">
                            <div class="image-container">
                                <img src="https://vallequintajunge.cl/wp-content/uploads/2019/03/Fachada-Suroriente-nocturna.jpg" class="img-fluid" alt="...">
                                <div class="overlay">
                                    <h2>Título del texto</h2>
                                    <h3>Subtítulo del texto</h3>
                                    <p>Descripción del texto que se muestra cuando el mouse pasa por encima de la imagen.</p>
                                    <a href="#">Enlace</a>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="carousel-item">
                        <figure class="slide">
                            <div class="image-container">
                                <img src="https://vallequintajunge.cl/wp-content/uploads/2019/03/Fachada-Suroriente-nocturna.jpg" class="img-fluid" alt="...">
                                <div class="overlay">
                                    <h2>Título del texto</h2>
                                    <h3>Subtítulo del texto</h3>
                                    <p>Descripción del texto que se muestra cuando el mouse pasa por encima de la imagen.</p>
                                    <a href="#">Enlace</a>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="carousel-item">
                        <figure class="slide">
                            <div class="image-container">
                                <img src="https://vallequintajunge.cl/wp-content/uploads/2019/03/Fachada-Suroriente-nocturna.jpg" class="img-fluid" alt="...">
                                <div class="overlay">
                                    <h2>Título del texto</h2>
                                    <h3>Subtítulo del texto</h3>
                                    <p>Descripción del texto que se muestra cuando el mouse pasa por encima de la imagen.</p>
                                    <a href="#">Enlace</a>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="carousel-item">
                        <figure class="slide">
                            <div class="image-container">
                                <img src="https://vallequintajunge.cl/wp-content/uploads/2019/03/Fachada-Suroriente-nocturna.jpg" class="img-fluid" alt="...">
                                <div class="overlay">
                                    <h2>Título del texto</h2>
                                    <h3>Subtítulo del texto</h3>
                                    <p>Descripción del texto que se muestra cuando el mouse pasa por encima de la imagen.</p>
                                    <a href="#">Enlace</a>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
                
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
              
                <ol class="carousel-indicators">
                    <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="4"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="5"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="6"></li>
                </ol>
            </div>
              
            
            <div class="row g-0">
                <div class="col-lg-12 d-flex align-items-center justify-content-center">
                    <a href="#"><button class="btn btn-secondary">Ver todos los proyectos</button></a>
                </div>
            </div>
        </div>
    </section>

    <section id="contacto_home" class="contacto_home">
        <div class="container">
            <div class="row text-center row_texto">
                <div class="col-md-12">
                    <p class="display-6">¿Tienes dudas acerca del servicio?</p>
                </div>
                <div class="col-md-12">
                    <p class="display-3">Envía el formulario y te responderemos</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <img src="https://cammconstructioninc.com/wp-content/uploads/2018/12/building-construction-sunset.jpg" alt="">
                </div>
                <div class="col-lg-6">
                    <form>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="empresa">Empresa:</label>
                                    <input type="text" class="form-control" id="empresa" name="empresa" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="correo">Correo electrónico:</label>
                                    <input type="email" class="form-control" id="correo" name="correo" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="mensaje">Mensaje:</label>
                                    <textarea class="form-control" name="mensaje" id="mensaje" required rows="5"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    

{% endblock %}