{% extends 'base.html' %}
{% load static %} 

{% block heroimage%}
{% endblock %}

{% block content %}

<section class="nosotros_detalle">
    <div class="container">
        <div class="row acerca_de_detalle">
            <div class="col-lg-12 text-center col-titulo">
                <h2 class="display-2">Acerca de nosotros</h2>
            </div>
            <div class="col-lg-12 col-nosotros">
                <p class="lead">
                   Nuestra página es una plataforma innovadora que se dedica a conectar de manera eficiente proyectos de constructoras con contratistas, 
                    cuya finalidad es simplificar y agilizar el proceso de búsqueda y selección de profesionales especializados en la industria de 
                    la construcción.
                </p>
                <p class="lead">
                    En Obra Net, entendemos la importancia de contar con un equipo de contratistas confiables y calificados para llevar a cabo 
                    proyectos de construcción exitosos. Por ello nuestra plataforma ofrece una amplia variedad de servicios y herramientas para 
                    que las constructoras puedan encontrar fácilmente a los contratistas adecuados para cada proyecto específico.                    
                </p>
                <p class="lead">
                    Nuestra perspectiva es revolucionar la forma en que se gestionan y llevan a cabo proyectos de construcción, promoviendo una 
                    colaboración fluida entre constructoras y contratistas, fomentando el desarrollo de relaciones comerciales sólidas y duraderas.
                </p>
                <!-- <p class="lead">
                    Obra Net es una plataforma innovadora que se dedica a conectar de manera eficiente proyectos de constructoras con contratistas, 
                    cuya finalidad es simplificar y agilizar el proceso de búsqueda y selección de profesionales especializados en la industria de 
                    la construcción.

                    En Obra Net, entendemos la importancia de contar con un equipo de contratistas confiables y calificados para llevar a cabo 
                    proyectos de construcción exitosos. Por ello nuestra plataforma ofrece una amplia variedad de servicios y herramientas para 
                    que las constructoras puedan encontrar fácilmente a los contratistas adecuados para cada proyecto específico.

                    Nuestra perspectiva es revolucionar la forma en que se gestionan y llevan a cabo proyectos de construcción, promoviendo una 
                    colaboración fluida entre constructoras y contratistas, fomentando el desarrollo de relaciones comerciales sólidas y duraderas.
                </p> -->
            </div>
        </div>

        <div class="row mision">
            <div class="col-lg-6">
                <img src="https://img.freepik.com/fotos-premium/ingeniero-arquitecto-o-trabajadores-equipo-construccion-que-trabajan-planificacion-innovacion-creativa-plan-diseno-estrategias-construccion-reunion-trabajo-equipo-idea-modelo-negocio-arquitectura-industrial_590464-83109.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <h3 class="display-2">Misión</h3>
                <p class="lead">
                    Brindar una solución innovadora y confiable para nuestros clientes, potenciando soluciones efectivas para conectar con el equipo que quieren trabajar. 
                    Nos esforzamos por crear un espacio accesible que fomente el crecimiento profesional y nacional, aspirando a revolucionar la forma en que se encuentran 
                    proyectos de construcción , asegurando una conexión rápida y satisfactoria a través de un enfoque centrado en nuestro cliente.
                </p>
            </div>
        </div>

        <div class="row vision">
            <div class="col-lg-6 order-2 order-md-1">
                <h3 class="display-2">Visión</h3>
                <p class="lead">
                    Ser la plataforma líder a nivel nacional que conecta proyectos de constructoras con contratistas, fomentando oportunidades 
                    significativas de eficiencia en la industria de la construcción, mejorando la vida de miles de personas.
                </p>
            </div>
            <div class="col-lg-6 order-1 order-md-2">
                <img src="https://www.mapfreglobalrisks.com/media/Realidad-Virtual.jpg" alt="">
                <!-- <img src="https://www.sacyr.com/documents/63048160/63076224/Foto+Realidad+extendida_2.jpg/da171d6c-1a7e-9125-c90d-fb33c6493661?t=1606392479685" alt=""> -->
            </div>
        </div>

        <div class="row row-valores">
            <div class="col-lg-12 ">
                <h3 class="display-2 text-center">Nuestros valores</h3>
            </div>
        </div>
        <div class="row row-valores-2">
            <div class="col-lg-4 col-md-12 d-flex flex-column justify-content-between col-valores">
                <div>
                    <p class="display-6">Eficiencia</p>
                    <p class="lead">Facilitar la búsqueda y la conexión entre proyectos y contratistas para agilizar el proceso, y así, reducir los tiempos de espera actuales al buscar proyectos.</p>
                </div>
                <div>
                    <p class="display-6">Transparencia</p>
                    <p class="lead">Ser transparente en todas las etapas del proceso de conexión, desde la búsqueda hasta la selección de contratistas, para fomentar la confianza entre todas las partes involucradas.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 d-flex align-items-center col-valores">
                <div>
                    <p class="display-6">Innovación</p>
                    <p class="lead">Buscar constantemente formas innovadoras de mejorar la plataforma y la experiencia de los usuarios, adaptándose a las últimas tendencias tecnológicas y necesidades del mercado.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 d-flex flex-column justify-content-between col-valores">
                <div>
                    <p class="display-6">Colaboración</p>
                    <p class="lead">Fomentar una cultura de colaboración entre constructoras y contratistas, promoviendo un intercambio fluido de información y la creación de relaciones mutuamente beneficiosas.</p>
                </div>
                <div>
                    <p class="display-6">Enfoque en el cliente</p>
                    <p class="lead">Poner al cliente en el centro de todas las decisiones y esfuerzos, garantizando que sus necesidades y expectativas sean siempre la principal prioridad.</p>
                </div>
            </div>
        </div>

        <div class="row nuestro_equipo">
            <div class="col-lg-12 text-center">
                <h3 class="display-2">Nuestro equipo</h3>
            </div>
            <div class="col-lg-6">
                <div class="row integrante">
                    <div class="col-lg-5">
                        <img src="https://cdn.icon-icons.com/icons2/2468/PNG/512/user_icon_149329.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-7">
                        <p class="display-6 peque">Horacio De La Fuente F.</p>
                        <p class="lead"><b>Fundador</b></p>
                        <p class="lead">Ingeniero Comercial, Universidad de Chile.</p>
                        <div class="row ">
                            <div class="col-lg-12 redes_integrante">
                                <a href="https://www.linkedin.com/in/hoaldelafufer/" target="_blank"><i class="bi bi-linkedin"></i></a>
                                <a href="#"><i class="bi bi-envelope"></i></a>
                                <a href="#"><i class="bi bi-telephone"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row integrante">
                    <div class="col-lg-5 d-flex justify-content-center">
                        <!-- <img src="{% static 'img/Matias.png' %}" class="img-fluid" alt=""> -->
                        <img src="https://cdn.icon-icons.com/icons2/2468/PNG/512/user_icon_149329.png" class="img-fluid" alt="">

                    </div>
                    <div class="col-lg-7">
                        <p class="display-6">Matías Salas V.</p>
                        <p class="lead"><b>Co-Fundador</b></p>
                        <p class="lead">Ingeniero Informático, Duoc UC.</p>
                        <div class="row">
                            <div class="col-lg-12 redes_integrante">
                                <a href="https://www.linkedin.com/in/matiassalasv/" target="_blank"><i class="bi bi-linkedin"></i></a>
                                <a href="#"><i class="bi bi-envelope"></i></a>
                                <a href="#"><i class="bi bi-telephone"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row integrante">
                    <div class="col-lg-5">
                        <img src="https://cdn.icon-icons.com/icons2/2468/PNG/512/user_icon_149329.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-7">
                        <p class="display-6 peque2">Sebastian Apablaza G.</p>
                        <p class="lead"><b>Co-Fundador</b></p>
                        <p class="lead">Ingeniero Comercio Internacional, Universidad Tecnologica Metropolitana.</p>
                        <div class="row">
                            <div class="col-lg-12 redes_integrante">
                                <a href="https://www.linkedin.com/in/sebastian-ignacio-apablaza-gonzalez-98a3b6259/" target="_blank"><i class="bi bi-linkedin"></i></a>
                                <a href="#"><i class="bi bi-envelope"></i></a>
                                <a href="#"><i class="bi bi-telephone"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row integrante">
                    <div class="col-lg-5 d-flex justify-content-center">
                        <!-- <img src="{% static 'img/Bastian.png' %}" class="img-fluid" alt=""> -->
                        <img src="https://cdn.icon-icons.com/icons2/2468/PNG/512/user_icon_149329.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-7">
                        <p class="display-6">Bastian Passteni M.</p>
                        <p class="lead"><b>Co-Fundador</b></p>
                        <p class="lead">Ingeniero Informático, Duoc UC.</p>
                        <div class="row">
                            <div class="col-lg-12 redes_integrante">
                                <a href="https://www.linkedin.com/in/bastianpasstenimu%C3%B1oz/" target="_blank"><i class="bi bi-linkedin"></i></a>
                                <a href="#"><i class="bi bi-envelope"></i></a>
                                <a href="#"><i class="bi bi-telephone"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="https://cdn.icon-icons.com/icons2/2468/PNG/512/user_icon_149329.png" alt="">
                    </div>
                    <div class="col-lg-6">
                        <p class="display-6">Matías </p>
                        <p class="lead"><b>Líder de equipo</b></p>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, dolores . Corrupti, dolores . Corrupti, dolores .</p>
                        <div class="row">
                            <div class="col-lg-12 d-flex">
                                <i class="bi bi-linkedin"></i>
                                <i class="bi bi-envelope"></i>
                                <i class="bi bi-telephone"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

{% endblock %}