{% extends 'base.html' %}
{% load static %} 



{% block heroimage%}


{% endblock %}


{% block content %}

<section class="nosotros_detalle">
    <div class="container">
        <div class="row acerca_de_detalle">
            <div class="col-lg-12 text-center">
                <h2 class="display-2">Acerca de nosotros</h2>
            </div>
            <!-- <div class="col-lg-12">
                <p class="lead">
                    En esta plataforma, descubrirás emocionantes proyectos en el apasionante nicho de la construcción, diseñados para potenciar tu crecimiento profesional y 
                    abrir nuevas puertas hacia el éxito. Con una amplia gama de proyectos cuidadosamente publicados, podrás explorar y seleccionar aquellos que mejor se 
                    ajusten a tus habilidades y especialidades, asegurando que cada proyecto sea una oportunidad para demostrar tu talento y experiencia.
                </p>
                <p class="lead">
                    Además, nos enorgullecemos de ofrecerte acceso a una extensa red de contactos especializados en la industria de la construcción. Encontrarás colaboradores 
                    expertos en diversas áreas, lo que te permitirá formar equipos altamente eficientes y competentes para abordar cualquier desafío que se presente en tu camino.
                    La colaboración es la clave del éxito, y con nuestra plataforma, construirás relaciones profesionales sólidas que se traducirán en proyectos exitosos y 
                    crecimiento a largo plazo.
                </p>
                <p class="lead">
                    Sabemos que tu tiempo es valioso, y por eso nuestra plataforma está diseñada para ahorrarte tiempo. Con funciones intuitivas y una interfaz amigable, 
                    encontrarás oportunidades relevantes de manera rápida y efectiva. Deja atrás las búsquedas interminables y concentra tu energía en lo que realmente importa: 
                    tu trabajo y tu crecimiento profesional.
                </p>
                <p class="lead">
                    Únete a nuestra plataforma y adéntrate en una nueva era de colaboración y conexión en el mundo de la construcción. Juntos, construiremos un futuro más sólido,
                    eficiente y emocionante para la industria. ¡Es hora de llevar tu carrera a nuevos horizontes y marcar una diferencia real en cada proyecto que toques! Te 
                    damos la bienvenida a nuestra comunidad, donde el potencial es ilimitado y las oportunidades están a solo un clic de distancia.
                </p>
            </div> -->
            <div class="col-lg-12">
                <p class="lead">
                    Descubre emocionantes proyectos en el apasionante nicho de la construcción que impulsarán tu crecimiento profesional y te abrirán puertas hacia el éxito. 
                    Explora una amplia variedad de proyectos cuidadosamente seleccionados, demostrando tu talento y experiencia al elegir los que mejor se adapten a tus habilidades. 
                    Además, accede a una extensa red de contactos especializados en la industria, formando equipos eficientes para enfrentar desafíos. Nuestra plataforma, diseñada 
                    para ahorrar tiempo con funciones intuitivas, te permite concentrarte en tu trabajo y crecimiento. Únete para colaborar y conectar en el mundo de la construcción, 
                    construyendo un futuro sólido y emocionante. Bienvenido a una comunidad donde el potencial es ilimitado y las oportunidades están a un clic de distancia.
                </p>
            </div>
        </div>

        <div class="row mision">
            <div class="col-lg-6">
                <img src="https://img.freepik.com/fotos-premium/ingeniero-arquitecto-o-trabajadores-equipo-construccion-que-trabajan-planificacion-innovacion-creativa-plan-diseno-estrategias-construccion-reunion-trabajo-equipo-idea-modelo-negocio-arquitectura-industrial_590464-83109.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <h3 class="display-2">Misión</h3>
                <p class="lead">
                    Brindar una solución innovadora y confiable para nuestros clientes, potenciando soluciones efectivas para conectar con el equipo que quieren trabajar. 
                    Nos esforzamos por crear un espacio accesible que fomente el crecimiento profesional y nacional, aspirando a revolucionar la forma en que se encuentran 
                    proyectos de construcción , asegurando una conexión rápida y satisfactoria a través de un enfoque centrado en nuestro cliente.
                </p>
            </div>
        </div>

        <div class="row vision">
            <div class="col-lg-6 order-2 order-md-1">
                <h3 class="display-2">Visión</h3>
                <p class="lead">
                    Ser la plataforma líder a nivel nacional que conecta proyectos de constructoras con contratistas, fomentando oportunidades 
                    significativas de eficiencia en la industria de la construcción, mejorando la vida de miles de personas.
                </p>
            </div>
            <div class="col-lg-6 order-1 order-md-2">
                <img src="https://www.mapfreglobalrisks.com/media/Realidad-Virtual.jpg" alt="">
                <!-- <img src="https://www.sacyr.com/documents/63048160/63076224/Foto+Realidad+extendida_2.jpg/da171d6c-1a7e-9125-c90d-fb33c6493661?t=1606392479685" alt=""> -->
            </div>
        </div>

        <div class="row valores">
            <div class="col-lg-6">
                <img src="https://consultok.com/blog/wp-content/uploads/2021/08/valores-empresa-900x500.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <h3 class="display-2">Valores</h3>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores praesentium quam quod quasi itaque similique modi, magnam commodi quidem, omnis ut 
                    vitae autem id, quibusdam delectus. Cupiditate laboriosam saepe ad, perspiciatis voluptatibus sequi at, pariatur quia expedita aperiam minima natus? 
                    Suscipit rerum odit delectus doloremque repellat iusto dolores exercitationem rem?
                </p>
            </div>
        </div>

        <div class="row nuestro_equipo">
            <div class="col-lg-12 text-center">
                <h3 class="display-2">Nuestro equipo</h3>
            </div>
            <div class="col-lg-6">
                <div class="row integrante">
                    <div class="col-lg-5">
                        <img src="https://cdn.icon-icons.com/icons2/2468/PNG/512/user_icon_149329.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-7">
                        <p class="display-6 peque">Horacio De La Fuente F.</p>
                        <p class="lead"><b>Ingeniero Comercial</b></p>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, dolores . Corrupti, dolores . Corrupti, dolores .</p>
                        <div class="row ">
                            <div class="col-lg-12 redes_integrante">
                                <a href="https://www.linkedin.com/in/hoaldelafufer/" target="_blank"><i class="bi bi-linkedin"></i></a>
                                <a href="#"><i class="bi bi-envelope"></i></a>
                                <a href="#"><i class="bi bi-telephone"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row integrante">
                    <div class="col-lg-5">
                        <img src="https://cdn.icon-icons.com/icons2/2468/PNG/512/user_icon_149329.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-7">
                        <p class="display-6">Matías Salas V.</p>
                        <p class="lead"><b>Ingeniero Informático</b></p>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, dolores . Corrupti, dolores . Corrupti, dolores .</p>
                        <div class="row">
                            <div class="col-lg-12 redes_integrante">
                                <a href="https://www.linkedin.com/in/matiassalasv/" target="_blank"><i class="bi bi-linkedin"></i></a>
                                <a href="#"><i class="bi bi-envelope"></i></a>
                                <a href="#"><i class="bi bi-telephone"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row integrante">
                    <div class="col-lg-5">
                        <img src="https://cdn.icon-icons.com/icons2/2468/PNG/512/user_icon_149329.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-7">
                        <p class="display-6 peque2">Sebastian Apablaza G.</p>
                        <p class="lead"><b>Ingeniero Comercio Internacional</b></p>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, dolores . Corrupti, dolores . Corrupti, dolores .</p>
                        <div class="row">
                            <div class="col-lg-12 redes_integrante">
                                <a href="https://www.linkedin.com/in/sebastian-ignacio-apablaza-gonzalez-98a3b6259/" target="_blank"><i class="bi bi-linkedin"></i></a>
                                <a href="#"><i class="bi bi-envelope"></i></a>
                                <a href="#"><i class="bi bi-telephone"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row integrante">
                    <div class="col-lg-5">
                        <img src="https://cdn.icon-icons.com/icons2/2468/PNG/512/user_icon_149329.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-7">
                        <p class="display-6">Bastian Passteni M.</p>
                        <p class="lead"><b>Ingeniero Informático</b></p>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, dolores . Corrupti, dolores . Corrupti, dolores .</p>
                        <div class="row">
                            <div class="col-lg-12 redes_integrante">
                                <a href="https://www.linkedin.com/in/bastianpasstenimu%C3%B1oz/" target="_blank"><i class="bi bi-linkedin"></i></a>
                                <a href="#"><i class="bi bi-envelope"></i></a>
                                <a href="#"><i class="bi bi-telephone"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="https://cdn.icon-icons.com/icons2/2468/PNG/512/user_icon_149329.png" alt="">
                    </div>
                    <div class="col-lg-6">
                        <p class="display-6">Matías </p>
                        <p class="lead"><b>Líder de equipo</b></p>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, dolores . Corrupti, dolores . Corrupti, dolores .</p>
                        <div class="row">
                            <div class="col-lg-12 d-flex">
                                <i class="bi bi-linkedin"></i>
                                <i class="bi bi-envelope"></i>
                                <i class="bi bi-telephone"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

{% endblock %}